---
import Layout from '../layouts/Layout.astro';
import ScrollPage from '@components/ScrollPage.vue';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASTRO</title>
</head>
<body>
	 
	<ScrollPage client:load/>
</body>
</html>

